extends layout

block content
  h1= title
  p Welcome to #{title}
  p #{comment}
  p #{foo.bar}
 
  
  for post in posts
    p #{post.title}
    p #{post.description}
    iframe(src='#{post.video}')
       